<div id="navigation">
    <div class="profile-picture">
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">OldLine Crossfit</span>

            <div class="dropdown" uib-dropdown >
                <a uib-dropdown-toggle href="#">
                    <small class="text-muted">About us. <b class="caret"></b></small>
                </a>
                <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                    <li><a>Old Line on FaceBook</a></li>
                    <li><a>Old Line on Twitter</a></li>
                    <li><a>Old Line on Wodify</a></li>
                </ul>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav metismenu" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="projects"> <span class="nav-label">Home</span></a>
        </li>
         <li ui-sref-active="active">
            <a ui-sref="budget"> <span class="nav-label">Results</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="vendors"> <span class="nav-label">Schedule</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="contractors"> <span class="nav-label">something else..</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="installers"> <span class="nav-label">more of nothing..</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="managers"> <span class="nav-label">this is it...</span></a>
        </li>
    </ul>
</div>